body {
    background-color: rgb(238, 222, 197);
}

.firstdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hone {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 4, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    padding-top: 20px;

}

.paraone {
    height: fit-content;
    width: 1000px;
    color: rgb(0, 68, 255);
    font-size: 25px;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

.htwo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 4, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
}

.miracleimg {
    height: 600px;
    width: 1000px;
    border-radius: 10px;
    box-shadow: 20px 15px 50px gray;
    margin-bottom: 30px;
}

.divtwo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paratwo {
    height: fit-content;
    width: 1000px;
    font-family: cursive;
    font-size: 25px;
}

.divthree {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2hopes {
    height: 50px;
    width: 550px;
    font-size: 35px;
    font-family: monospace;
    font-weight: bolder;
    background-color: rgb(219, 66, 173);
    border-radius: 10px;
    color: rgb(99, 245, 80);
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstul {
    height: fit-content;
    width: 1000px;
    list-style:square;
    font-size: 25px;
    font-family: cursive;
}

.divfour {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}